[Desktop Entry]
Type=Application
Version=1.0
Name=cameractrls
Comment=Camera controls for Linux
Exec=$PWD/cameractrlsgtk.py
Path=$PWD
Icon=$PWD/images/kiyopro_240.png
Terminal=false
Categories=Settings;
