[Desktop Entry]
Type=Application
Version=1.0
Name=Cameractrls
Comment=Camera controls for Linux
Exec=cameractrlsgtk.py
Icon=hu.irl.cameractrls
Terminal=false
Categories=Settings;
